
@{
    ViewData["Title"] = "Create";
}
@model SpendSmart.Models.Employee;
<div class="text-left mb-4">
    <h2 class="text-primary fw-bold">Add New Record</h2>
    <p class="text-muted">Fill in the details to add a new record.</p>
</div>

<div class="card shadow-lg border-0 rounded-3">
    <div class="card-body p-4">
        <form asp-action="Create" asp-controller="Employee" method="post">
            <label>Date:</label>
            <input type="date" asp-for="Date" class="form-control" required />

            <label>Category:</label>
            <input type="text" asp-for="Category" class="form-control" required />

            <label>Amount:</label>
            <input type="number" asp-for="Amount" class="form-control" step="0.01" required />

            <button type="submit" class="btn btn-sucess mt-3">Save</button>
        </form>

    </div>
</div>
